
body{background-color:#fff;margin: 0px;}

.fl{border-bottom:3px solid #ccc;background:#fdfdfd;background:-moz-linear-gradient(top,#FDFDFD 0,#EEE 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FDFDFD),color-stop(100%,#EEE));background:-webkit-linear-gradient(top,#FDFDFD 0,#EEE 100%)}

.fl:hover{background:#ccc;background:-moz-linear-gradient(top,#ccc 100%,#ccc 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#ccc));background:-webkit-linear-gradient(top,#ccc 0,#ccc 100%)}

.fl a{display:block;padding:8px;background:url(https://media.giphy.com/media/LS9LzA5rdJmkoisqQB/giphy.gif) right center no-repeat;text-decoration:none;background-size:90px 120px}

.fl a img{margin-right:10px;margin-left:3px;border:0;border-radius:10px}

.fl a div div{vertical-align:middle;display:table-cell}

.fileName img{padding-right:3px}#container{width:600px;margin:0 auto;padding:20px}
